
.vs/Danicus2000000.github.io/config/applicationhost.config
.vs/Danicus2000000.github.io/project-colors.json
.vs/Danicus2000000.github.io/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
/.vs/Danicus2000000.github.io/FileContentIndex
