@page "/counter"

<PageTitle>Counter</PageTitle>

<head>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://danicus2000000.github.io/Counter">
    <meta property="og:title" content="Counter">
    <meta property="og:description" content="A simple counting function built into blazor.">
    <meta property="og:image" content="https://danicus2000000.github.io/favicon.png">
</head>
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
