@page "/"

<PageTitle>Home</PageTitle>

<head>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://danicus2000000.github.io">
    <meta property="og:title" content="My Portfolio">
    <meta property="og:description" content="A website all about me!">
    <meta property="og:image" content="https://danicus2000000.github.io/favicon.png">
</head>

<h1>Hello, world!</h1>

<p>My name is Dan and I am a Software Development Engineer!</p>
<p>I have obtained a degree (Bsc Computer Science (Software Engineering Hons) with a First at the University of hull</p>
<p>Currently have the ability to make use of, and write Python, C#, HTML, CSS, PHP, JavaScript and SQL!</p>
<p>This website was entirely scripted by me and serves as a portfolio of my projects so far!</p>