@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>My name is Dan and I am a Software Development Engineer!</p>
<p>I have obtained a degree (Bsc Computer Science (Software Engineering Hons) with a First at the University of hull</p> 
<p>Currently have the ability to make use of, and write Python, C#, HTML, CSS, PHP, JavaScript and SQL!</p>
<p>This website was entirely scripted by me and serves as a portfolio of my projects so far!</p>
