name: Verify website build integrity
permissions:
  contents: read
  pages: write
  id-token: write
# Run workflow on every push to the main branch, on prs into main or on manual trigger
on:
  push:
    branches: [ main ]
  pull_request:
      branches: [ main ]
  workflow_dispatch:

jobs:
  verify-build-integrity:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
    # uses GitHub's checkout action to checkout code
    - uses: actions/checkout@v6

    # Sets up github pages
    - name: Setup Pages
      if: github.ref_name == 'main' && github.event_name == 'push'
      uses: actions/configure-pages@v5

    # sets up node
    - name: Setup node 3.x
      uses: actions/setup-node@v6
      with:
        node-version: '>=20.0.0'
    
    # sets up Hugo
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: '0.141.0'
        extended: true
    
    # sets up Go
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.23.5'
        check-latest: true
        cache-dependency-path: blog/go.sum

    # Installs required npm packages
    - name: Installs required npm dependencies
      run: npm ci

    # Generate npm build
    - name: Generates npm build
      run: npm run build

    # Build blog
    - name: Build blog
      run: hugo build
      working-directory: ./blog
    
    # Rename build folder to correct web format
    - name: Rename build folder
      run: mv public blog
      working-directory: ./blog

    # Copy blog build to root
    - name: Copy blog build to root
      run: mv blog ../dist
      working-directory: ./blog

    # uploads the dist folder to be deployed to the site
    - name: Upload artifact
      if: github.ref_name == 'main' && github.event_name == 'push'
      uses: actions/upload-pages-artifact@v4
      with:
        # Upload dist folder
        path: './dist'

    # Deploy generated build artifact to gh pages
    - name: Deploy to GitHub Pages
      if: github.ref_name == 'main' && github.event_name == 'push'
      id: deployment
      uses: actions/deploy-pages@v4
